html, body{
	margin: 0 auto;
	padding: 0 auto;
}

body{
	background-image: url('../img/TFT_Teaser_Banner.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.bg-transparent{
    border: 3px solid transparent;
}

.borderactive{
    border: 3px solid #ccc;
}

.btn-go{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px; 
    height: 200px; 
    cursor: pointer;
    border: none;
    border: 3px solid rgba(255, 255, 255, 0.1);
}

/*
.btn-go:hover{
 	border: none;
}

.btn-go:focus, .btn-go:focus, .btn-go:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
*/

.bg-danger{
    background-image: url('../img/red.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-success{
    background-image: url('../img/green.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img-fluid{
	cursor: pointer;
}

.img-fluid:hover{
    animation-name: brilhar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn-my:hover{
    animation-name: brilhar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.c1{ background-color: #1E263B; }
.c2{ background-color: #1E3233; }
.c3{ background-color: #1E382F; }
.c4{ background-color: #302B25; }
.c5{ background-color: #2B3826; }
.c6{ background-color: #1C3726; }
.c7{ background-color: #302335; }
.c8{ background-color: #222632;	}

.container{
	background-color: rgba(2, 17, 14, 0.9);
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-bottom: 4px solid #ccc;
}

.cont2{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.img-fluid{
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	width: auto;
	height: 100px;
}
.icones{
    margin-top: 5px;
    margin-right: -10px;
}
.icon{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    float: right;
    cursor: pointer;
}

.icon:hover{
    animation-name: brilhar_e_pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.editar{
    background-image: url('../img/edit.png');
    border: 2px solid rgba(62, 176, 88, 0.5);
}

.matar{
    background-image: url('../img/skull.png');
    border: 2px solid rgba(224, 74, 88, 0.5);
    margin-right: 10px;
}

.text{
    height: 100%;
    text-align: center;
    text-shadow: 0 0 6px black;
}

.bg-black{
    background-color: black;
}

@keyframes brilhar{
    0%   {
        filter: brightness(1);
        -webkit-filter: brightness(1);
    }
    50%  {
        filter: brightness(1.5);
        -webkit-filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
        -webkit-filter: brightness(1);
    }
}

@keyframes pulsar{
    0%   { 
        transform: scale(1); 
    }
    50%  { 
        transform: scale(1.1); 
    }
    100% { 
        transform: scale(1); 
    }
}

@keyframes brilhar_e_pulsar{
    0%   {
        filter: brightness(1);
        -webkit-filter: brightness(1);
        transform: scale(1); 
    }
    50%  {
        filter: brightness(1.5);
        -webkit-filter: brightness(1.5);
        transform: scale(1.1); 
    }
    100% {
        filter: brightness(1);
        -webkit-filter: brightness(1);
        transform: scale(1); 
    }
}

@media screen and (max-width: 960px) {
	.img-fluid{
		background-image: url('../img/unnamed.png');
        background-size: 75% 100%;
        height: 120px;
	}
}